.content-body{
	background-color: #f8f8f8;
	width: 100%;
}

.top-menu-container{
	width: 1100px;
	margin: auto;
	background-color: #eeeeee;
}

.top-menu-c{
	width: 100%;
	background-color: #03853E;
	padding-top: 8px;
	padding-bottom: 8px;
}

.top-c-m-c{
	padding-left: 15px;
}

.top-menu-item{
	float: left;
	color: #666666;
	font-size: 18px;
	float: left;
	padding: 22px;
	cursor: pointer;
}

.top-menu-item.active{
	color: #05ba58;
	border-top: solid 5px #F0A800;
	background-color: #f8f8f8;
	padding-top: 17px;
}

.fw-container{
	width: 1100px;
	margin: auto;
	padding-bottom: 50px;
	padding-top: 36px;
}

.fw-container h2{
	font-weight: normal;
	font-size: 28px;
	color: #666666;
}

.fw-form{
	width: 646px;
	margin: auto;
	background-color: #ffffff;
	padding: 20px 227px;
	margin-top: 36px;
	padding-bottom: 36px;
}

.btn-get-code{
	margin-left: 25px;
	background-color: #999999;
	border-radius: 5px;
}

.btn-get-code.active{
	background-color: #05ba58;
}

.k-label{
	width: 128px !important;
}

.btn-update{
	margin-left: 152px;
	background-color: #999999;
	border-radius: 5px;
}

.btn-update.active{
	background-color: #05ba58;
}

.en-form-error{
	left: 153px;
}

.success{
	width: 1100px;
	height: 506px;
	margin-top: 36px;
	text-align: center;
	background-color: #ffffff;
	display: none;
}

.success img{
	margin-top: 139px;
}

.success div{
	color: #666666;
	font-size: 20px;
	margin-top: 19px;
}

.right-bar{
	display: none !important;
}