.content-body{
	background-color: #f8f8f8;
}

.top-menu-c{
	width: 100%;
	background-color: #03853E;
	padding-top: 8px;
	padding-bottom: 8px;
}

.nav-home{
  color: #05ba58 !important;
  border-bottom: solid 3px #05ba58;
  padding-bottom: 12px;
}

.top-menu-container{
	width: 1100px;
	margin: auto;
	background-color: #eeeeee;
}

.top-c-m-c{
	padding-left: 15px;
}

.top-menu-item{
	float: left;
	color: #666666;
	font-size: 18px;
	float: left;
	padding: 22px;
	cursor: pointer;
}

.top-menu-item.active{
	color: #05ba58;
	border-top: solid 5px #F0A800;
	background-color: #f8f8f8;
	padding-top: 17px;
}

.information-cate-c{
	width: 100%;
	background-color: #f8f8f8;
	padding-bottom: 20px;
}

.information-cate-container{
	width: 1100px;
	margin: auto;
	padding-top: 30px;
}

.info-left-c{
	float: left;
	width: 670px !important;
	margin-right: 30px;
	height: 582px;
	position: relative;
}

.tj-left-img{
	position: absolute;
	top: 175px;
	left: 10px;
	background-image: url('/images/left-radius.png');
	display: inline-block;
	width: 50px;
	height: 50px;
	z-index: 10001;
}

.tj-left-img:hover{
	cursor: pointer;
	background-image: url('/images/left-radius-hover.png');
}

.tj-right-img{
	position: absolute;
	top: 175px;
	right: 10px;
	background-image: url('/images/right-radius.png');
	display: inline-block;
	width: 50px;
	height: 50px;
	z-index: 10001;
}

.tj-right-img:hover{
	cursor: pointer;
	background-image: url('/images/right-radius-hover.png');
}

.tuijian-c{
	height: 400px !important;
	position: relative;
}

.tuijian-c .KMSPrefix_tuijianc_image_item{
	height: 400px !important;
	/*overflow: auto !important;*/
}

.tuijian-c .KMSPrefix_tuijianc_image_box{
	height: 400px !important;
}

.tuijian-c .KMSPrefix_tuijianc_image_box .KMSPrefix_tuijianc_image_item{
	overflow: visible !important;
}

.turn-content-c{
    position: absolute;
    top: 400px;
    height: 161px;
    background-color: #ffffff;
}

.KMSPrefix_tuijianc_button{
    right: 286px !important;
    bottom: 15px !important;
}

.KMSPrefix_tuijianc_button li{
	width: 15px !important;
	height: 15px !important;
	border-radius: 15px;
	background-color: #cccccc !important;
}

.tuijian-c .KMSPrefix_tuijianc_button li.KMSPrefix_tuijianc_focus{
	background-color: #05ba58 !important;
	border-color: #05ba58 !important;
}

.info-right-c{
	float: right;
	width: 400px;
}

.info-title{
	background-color: #ffffff;
	padding: 20px 20px 16px 20px;
	border-bottom: solid 1px #eeeeee;
}

.info-title span{
	display: inline-block;
    float: left;
    color: #333333;
    font-weight: bold;
    border-left: solid 5px #05ba58;
    font-size: 22px;
    padding-left: 10px;
    padding-bottom: 3px;
}

.info-title a{
	float: right;
	font-size: 16px;
	color: #666666;
	margin-top: 6px;
}

.tuijian-title{
	font-size: 18px;
	color: #333333;
	padding-top: 20px !important;
}

.tuijian-content{
	font-size: 16px;
	color: #888888;
	padding-top: 18px !important;
	padding-left: 20px !important;
	line-height: 25px;
	padding-right: 20px !important;
	width: 630px;
}

.tuijian-title-text{
	float: left;
	transition: all .2s ease-out 0s;
}

.tuijian-title-time{
	float: right;
	font-size: 14px;
	color: #888888;
	margin-top: 3px !important;
}

.zx-list{
	padding: 15px 20px 2px 20px;
	background-color: #ffffff;
}

.zx-item-c{
	border-bottom: solid 1px #eeeeee;
	padding-bottom: 15px;
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.zx-img{
	float: left;
	width: 150px;
	height: 90px;
}

.zx-desc-c{
	float: right;
	width: 192px;
	position: relative;
	height: 89px;
}

.zx-desc-title{
	font-size: 18px;
	color: #333333;
	transition: all .2s ease-out 0s;
}

.zx-date{
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-size: 14px;
	color: #888888;
}

.zx-read-count{
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 14px;
	color: #888888;
	background-image: url('/images/message.jpg');
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: 0px 3px;
}

.huinong-c{
	height: auto !important;
}

.wenhua-list,.zhengce-list{
	background-color: #ffffff;
	padding: 0px 20px 10px 20px ;
}

.wenhua-item-c{
	padding-bottom: 17px;
	border-bottom: solid 1px #eeeeee;
	display: block;
	position: relative;
}

.wenhua-content{
	font-size: 16px;
	color: #888888;
	line-height: 23px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.tag-c{
	font-size: 16px;
	color: #888888;
}

.tag-list a{
	display: inline-block;
	padding: 3px;
	background-color: #c3c3c3;
	margin-right: 15px;
}

.right-bar-gg{
	width: 400px;
	margin-top: 30px;
	height: 236px;
	display: inline-block;
}

.right-bar-gg img{
	width: 400px;
	height: 251px;
}

.hzs-yy .zx-img{
	width: 250px;
	height: 150px;
}

.hzs-yy .zx-desc-c, .nongji .zx-desc-c{
	width: 626px;
	height: 123px;
}

.nongji .zx-item-c{
	padding-top: 6px;
	padding-bottom: 18px;
}

.hzs-yy .zx-desc-content, .nongji .zx-desc-content{
	font-size: 16px;
    color: #888888;
    line-height: 23px;
    margin-top: 16px;
}

.last-cate-c{
	padding-bottom: 60px;
}

.footer-container{
	margin-top: 0px;
}

.tuijian-c .KMSPrefix_tuijianc_image_box .KMSPrefix_tuijianc_image_item {
    background-size: 670px 400px !important;
}

.wenhua-list .tuijian-title-time{
	float: right;
	padding: 0px !important;
	margin-top: 7px !important;
}

.wenhua-list .zx-read-count{
	position: relative; !important;
	top: 0px !important;
	left: 0px !important;
	float: right;
	margin-top: 7px;
}

.ny-zx .icon-top, .ny-zx .icon-digested{
	position: absolute;
	left: 0px;
	top: 0px;
	display: inline-block;
	background-color: #ff5647;
	color: #ffffff;
	font-size: 14px;
	padding: 3px 6px;
}

.icon-digested{
	background-color: #05ba58 !important;
}

.wenhua-list .icon-top, .wenhua-list .icon-digested{
	position: absolute;
    right: 0px;
    top: 16px;
    display: inline-block;
    background-color: #ff5647;
    color: #ffffff;
    font-size: 14px;
    padding: 3px 10px;
    border-radius: 5px;
}

.zhengce-list .icon-top{
	position: absolute;
    left: 0px;
    top: 18px;
    display: inline-block;
    background-color: #ff5647;
    color: #ffffff;
    font-size: 14px;
    padding: 3px 10px;
    border-radius: 5px;
}

.hzs-yy .icon-top, .hzs-yy .icon-digested, .nongji .icon-top, .nongji .icon-digested{
	position: absolute;
    right: 0px;
    top: 2px;
    display: inline-block;
    background-color: #ff5647;
    color: #ffffff;
    font-size: 14px;
    padding: 3px 10px;
    border-radius: 5px;
}
.shh-fuwu img, .college-list img{
	width: 250px;
	height: 150px;
	float: left;
}

.shh-fuwu .zx-desc-c, .college-list .zx-desc-c{
	width: 786px;
	height: 150px;
	position: relative;
}

.shh-fuwu .zx-desc-content, .college-list .zx-desc-content{
	color: #666666;
	font-size: 16px;
	margin-top: 20px;
	line-height: 23px;
	word-break:break-all; /*支持IE，chrome，FF不支持*/
　　word-wrap:break-word;/*支持IE，chrome，FF*/
	margin-top: 16px;
}

.shh-fuwu .icon-top, .shh-fuwu .icon-digested, .college-list .icon-top, .college-list .icon-digested{
	position: absolute;
    right: 0px;
    top: 2px;
    display: inline-block;
    background-color: #ff5647;
    color: #ffffff;
    font-size: 14px;
    padding: 3px 10px;
    border-radius: 5px;
}

.wenhua-list .wenhua-item-c{
	padding-bottom: 15px;
}

.zx-item-c:last-child, .wenhua-item-c:last-child{
	border-bottom: none !important;
}

.tuijian-c .tuijian-title-text{
	padding-left: 20px;
	color: #333333;
	transition: all .2s ease-out 0s;
}

.tuijian-c .tuijian-title-time{
	margin-right: 20px;
}

.wenhua-list{
	padding-top: 0px;
}

.in-top-menu{
	font-size: 16px;
	width: 1100px;
	margin: auto;
}

.in-top-menu a{
	display: inline-block;
	font-size: 16px;
}

.in-top-menu a, .in-top-menu span{
	margin-right: 10px;
	padding-top: 20px;
	color: #aaaaaa;
}

.in-cate1{
	padding-bottom: 0px!important;
}

.in-cate2, .in-cate3, .in-cate4{
	padding-bottom: 10px!important;
}

.turn-content-c:hover .tuijian-title-text,a:hover .tuijian-title, a:hover .zx-desc-title{
	color: #05ba58 !important;
}

.zx-img{
  width: 250px;
  height: 150px;
  float: left;
  background-color: #000;
}

.zx-img .play-icon {
    position: absolute;
    left: 100px;
    top: 52px;
    width: 42px;
    height: 42px;
}

.zx-img .video-img {
  width: 100%;
  height: 100%;
}

.tuijian-c .zx-img {
  width: 100%;
  height: 400px;
}

.tuijian-c .zx-img .play-icon {
  left: 46%;
  top: 167px;
}

.tuijian-c .zx-img {
  width: 100%;
  height: 400px;
}

.tuijian-c .zx-img .play-icon {
  left: 46%;
  top: 167px;
}

.ny-zx .zx-img {
  float: left;
  width: 150px;
  height: 90px;
}

.ny-zx .zx-img .play-icon {
  left: 60px;
  top: 30px;
	width: 30px;
	height: 30px;
}

.shh-fuwu .video-img, .college-list .video-img{
	width: 250px;
	height: 150px;
	float: left;
	text-align: center;
}

.shh-fuwu .video-img img, .college-list .video-img img{
	margin-top: 59px;
	width: 40px;
	height: 40px;
	margin-left: 106px;
}


.zx-item-c[type='2'] .zx-desc-title, .wenhua-item-c[type='2'] .tuijian-title{
	margin-left: 35px;
}

.vedio-icon{
	position: absolute;
	left: 0px;
	top: 0px;
}

.wenhua-item-c .vedio-icon{
	top: 18px;
}