[ISAPI_Rewrite]
RewriteEngine On
RewriteCond %{HTTP_HOST} ^zgnmzymyw.com [NC]
RewriteRule ^(.*) http://www.zgnmzymyw.com/ [L]
RewriteCompatibility2 On
RepeatLimit 32
#包含后缀不进行下面的RewriteRule.
RewriteCond %{REQUEST_URI} !.*\.(htm|html|asp|php|ico|gif|jpg|jpeg|png|js|css|svg|ttf|woff|eot|cert)
RewriteBase

#文件存在不执行下面的RewriteRule
RewriteCond %{REQUEST_FILENAME} !-f
#目录存在不执行下面的RewriteRule，启用后首页不会跳转
#RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)/(?:csnic|Editor|ckeditor|css|fonts|images|js|upfile|upload|uploads|AienUpload|inc|sys|phpqrcode|MallData)/(.*) $0 [I,L] 
RewriteRule .*\.(?:gif|asp|jpg|png|css|js|txt|jpeg|swf|flv|zip|rar) $0 [I,L] 
RewriteRule /httpd(?:\.ini|\.parse\.errors) / [F,I,O]
RewriteRule ^(.*)/data/news(.*)$ $1/ajax\.asp?a=data&d=news$2 [I]
RewriteRule ^(.*)/list(.*)$ $1/list\.asp\?a=$2 [I]
RewriteRule ^(.*)/shop/([0-9\-]*)$ $1/shop\.asp\?shopid=$2 [I]
RewriteRule ^(.*)/shop/([0-9\-]*).html$ $1/shop\.asp\?shopid=$2 [I]
RewriteRule ^(.*)/shop/([0-9\-]*)_list.html$ $1/shop_list\.asp\?shopid=$2&catid=0 [I]
RewriteRule ^(.*)/shop/([0-9\-]*)_list_([0-9\-]*)(.*)$ $1/shop_list\.asp\?shopid=$2&catid=$3&d=$4 [I]
RewriteRule ^(.*)/detail(.*)$ $1/detail\.asp\?a=$2 [I]
RewriteRule ^(.*)/code(.*)$ $1/code\.asp\?a=$2 [I]
RewriteRule ^(.*)/join(.*)$ $1/index\.asp?$2 [I]
RewriteRule ^(.*)/reg(.*)$ $1/reg\.asp?$2 [I]
RewriteRule ^(.*)/trade/webreg_station(.*)$ $1/reg\.asp?$2 [I]
RewriteRule ^(.*)/chkreg(.*)$ $1/api\.asp\?a=reg&d=$2 [I]
RewriteRule ^(.*)/chkuser/(.*)$ $1/api\.asp\?a=chkuser&sj=$2 [I]
RewriteRule ^(.*)/chkcode(.*)$ $1/api\.asp\?a=chkcode&d=$2 [I]
RewriteRule ^(.*)/newareas(.*)$ $1/api\.asp\?a=newareas&d=$2 [I]
RewriteRule ^(.*)/shop_index_info_(.*)$ $1/api\.asp\?a=shop_index_info&d=$2 [I]
RewriteRule ^(.*)/trade/SendOrderFinish(.*)$ $1/api\.asp\?a=SendOrderFinish&d=$2 [I]
RewriteRule ^(.*)/login(.*)$ $1/login\.asp?$2 [I]
RewriteRule ^(.*)/forget_password(.*)$ $1/forget_password\.asp?$2 [I]
RewriteRule ^(.*)/password_reset(.*)$ $1/api\.asp\?a=password_reset&d=$2 [I]
RewriteRule ^(.*)/chklogin(.*)$ $1/api\.asp\?a=chklogin&d=$2 [I]
RewriteRule ^(.*)/about(.*)$ $1/index\.asp?$2 [I]
RewriteRule ^(.*)/advantage(.*)$ $1/index\.asp?$2 [I]
RewriteRule ^(.*)/working(.*)$ $1/api\.asp\?a=working&d=$2 [I]
RewriteRule ^(.*)/brandcatidapi(.*)$ $1/api\.asp\?a=brandcatidapi&d=$2 [I]
RewriteRule ^(.*)/selectcatidapi(.*)$ $1/api\.asp\?a=selectcatidapi&d=$2 [I]
RewriteRule ^(.*)/delete-recordapi(.*)$ $1/api\.asp\?a=delete-recordapi&d=$2 [I]
RewriteRule ^(.*)/mobileSMS(.*)$ $1/api\.asp\?a=sendsms&d=$2 [I]
RewriteRule ^(.*)/([a-zA-Z0-9\-]*)/trade(.*)$ $1/mall\.asp\?a=$2&d=$3 [I]
RewriteRule ^(.*)/trade/goods(.*)$ $1/pgoods\.asp\?a=$2&d=$3 [I]
RewriteRule ^(.*)/trade/seller(.*)$ $1/pgoods\.asp\?a=$2&d=$3 [I]
RewriteRule ^(.*)/trade/adplay(.*)$ $1/product\.asp\?a=$2&d=$3 [I]
RewriteRule ^(.*)/trade/news(.*)$ $1/trade\.asp\?a=$2&d=$3 [I]
RewriteRule ^(.*)/trade/product(.*)$ $1/plist\.asp\?a=$2 [I]
RewriteRule ^(.*)/trade/booth_act(.*)$ $1/trade\.asp\?a=$2&d=$3 [I]
RewriteRule ^(.*)/trade/logistics(.*)$ $1/trade\.asp\?a=$2&d=$3 [I]
RewriteRule ^(.*)/trade/safe(.*)$ $1/trade\.asp\?a=$2&d=$3 [I]
RewriteRule ^(.*)/trade/info([a-zA-Z0-9\-]*)_(.*)$ $1/trade\.asp\?a=$2&d=$3 [I]
RewriteRule ^(.*)/trade/webreg_station(.*)$ $1/trade\.asp\?a=$2&d=$3 [I]
RewriteRule ^(.*)/trade/login(.*)$ $1/login\.asp?$2 [I]
RewriteRule ^(.*)/trade/forget(.*)$ $1/trade\.asp\?a=$2&d=$3 [I]
RewriteRule ^(.*)/payoutapi(.*)$ $1/api\.asp\?a=payoutapi&d=$2 [I]
RewriteRule ^(.*)/fkclapi(.*)$ $1/api\.asp\?a=fkcl&d=$2 [I]
RewriteRule ^(.*)/yfkapi(.*)$ $1/api\.asp\?a=yfk&d=$2 [I]
RewriteRule ^(.*)/wfkapi(.*)$ $1/api\.asp\?a=wfk&d=$2 [I]
RewriteRule ^(.*)/sxjapi(.*)$ $1/api\.asp\?a=sxj&d=$2 [I]
RewriteRule ^(.*)/sxjapi(.*)$ $1/api\.asp\?a=sxj&d=$2 [I]
RewriteRule ^(.*)/cart/box-goods-list(.*)$ $1/api\.asp\?a=box-goods-list&d=$2 [I]
RewriteRule ^(.*)/pcart_remove(.*)$ $1/api\.asp\?a=cart-remove&d=$2 [I]
RewriteRule ^(.*)/payfinishchkapi(.*)$ $1/api\.asp\?a=payfinishchk&d=$2 [I]

RewriteRule ^(.*)/site_user(.*)$ $1/api\.asp\?a=site_user&d=$2 [I]
RewriteRule ^(.*)/pcart_(.*)$ $1/api\.asp\?a=pcart&d=$2 [I]
RewriteRule ^(.*)/goods_change-location(.*)$ $1/api\.asp\?a=goods_change-location&d=$2 [I]
RewriteRule ^(.*)/pgoods-comment(.*)$ $1/api\.asp\?a=pgoods-comment&$2 [I]
RewriteRule ^(.*)/pgoods-sku(.*)$ $1/api\.asp\?a=pgoods-sku&$2 [I]
RewriteRule ^(.*)/pgoods-desc(.*)$ $1/api\.asp\?a=pgoods-desc&$2 [I]
RewriteRule ^(.*)/BugReport(.*)$ https://ruid\.cc/BugReport$2 [I]

#移动端
RewriteRule ^(.*)/mreg(.*)$ $1/m/reg\.asp\?a=$2 [I]
RewriteRule ^(.*)/siteuser(.*)$ $1/m/mapi\.asp\?a=siteuser&d=$2 [I]
RewriteRule ^(.*)/is-follow(.*)$ $1/m/mapi\.asp\?a=is-follow&d=$2 [I]
RewriteRule ^(.*)/search-record(.*)$ $1/m/mapi\.asp\?a=search-record&d=$2 [I]
RewriteRule ^(.*)/site_change(.*)$ $1/m/site_change\.asp\?a=$2 [I]
RewriteRule ^(.*)/mcategory(.*)$ $1/m/category\.asp\?a=$2 [I]
RewriteRule ^(.*)/mgoods(.*)$ $1/m/goods\.asp\?a=$2 [I]
RewriteRule ^(.*)/mlist(.*)$ $1/m/list\.asp\?a=$2 [I]
RewriteRule ^(.*)/mcart_(.*)$ $1/m/mapi\.asp\?a=mcart&d=$2 [I]
RewriteRule ^(.*)/mlogin(.*)$ $1/m/login\.asp?$2 [I]
RewriteRule ^(.*)/is-weixin(.*)$ $1/m/mapi\.asp\?a=is-weixin&d=$2 [I]
RewriteRule ^(.*)/mgetpage(.*)$ $1/m/mapi\.asp\?a=mgetpage&$2 [I]
RewriteRule ^(.*)/mimages(.*)$ $1/m/mapi\.asp\?a=mimages&$2 [I]
RewriteRule ^(.*)/change-location(.*)$ $1/m/mapi\.asp\?a=change-location&$2 [I]
RewriteRule ^(.*)/goods-comment(.*)$ $1/m/mapi\.asp\?a=goods-comment&$2 [I]
RewriteRule ^(.*)/goods-sku(.*)$ $1/m/mapi\.asp\?a=goods-sku&$2 [I]
RewriteRule ^(.*)/goods-desc(.*)$ $1/m/mapi\.asp\?a=goods-desc&$2 [I]
RewriteRule ^(.*)/site-region(.*)$ $1/m/mapi\.asp\?a=site-region&$2 [I]
RewriteRule ^(.*)/sale-site-region(.*)$ $1/m/mapi\.asp\?a=sale-site-region&$2 [I]
RewriteRule ^(.*)/mshop_cat_list(.*)$ $1/m/mapi\.asp\?a=mshop_cat_list&$2 [I]
RewriteRule ^(.*)/mshop/([0-9\-]*)$ $1/m/shop\.asp\?shopid=$2 [I]
RewriteRule ^(.*)/mshop/([0-9\-]*).html$ $1/m/shop\.asp\?shopid=$2 [I]
RewriteRule ^(.*)/mshop/([0-9\-]*)_info.html$ $1/m/shop\.asp\?shopid=$2 [I]
RewriteRule ^(.*)/mshop/([0-9\-]*)_list.html$ $1/m/shop_list\.asp\?shopid=$2&catid=0 [I]
RewriteRule ^(.*)/mshop/([0-9\-]*)_list_([0-9\-]*)(.*)$ $1/m/shop_list\.asp\?shopid=$2&catid=$3&d=$4 [I]
RewriteRule ^(.*)/mshop/([0-9\-]*)_list.html(.*)$ $1/m/shop_list\.asp\?shopid=$2&d=$3 [I]

#用户中心
RewriteRule ^(.*)/userpanel(.*)$ $1/userpanel\.asp?$2 [I]
RewriteRule ^(.*)/u_info(.*)$ $1/u_info\.asp?$2 [I]
RewriteRule ^(.*)/u_red(.*)$ $1/u_red\.asp?$2 [I]
RewriteRule ^(.*)/u_pointrecord(.*)$ $1/u_pointrecord\.asp?$2 [I]
RewriteRule ^(.*)/u_income(.*)$ $1/u_income\.asp?$2 [I]
RewriteRule ^(.*)/u_payrecord(.*)$ $1/u_payrecord\.asp?$2 [I]
RewriteRule ^(.*)/orderDetail(.*)$ $1/orderDetail\.asp?$2 [I]
RewriteRule ^(.*)/u_payin_finish(.*)$ $1/u_payin_finish\.asp?$2 [I]
RewriteRule ^(.*)/u_orders(.*)$ $1/u_orders\.asp?$2 [I]
RewriteRule ^(.*)/u_message(.*)$ $1/u_message\.asp?$2 [I]
RewriteRule ^(.*)/u_liuyan(.*)$ $1/u_liuyan\.asp?$2 [I]
RewriteRule ^(.*)/cart_checkout(.*)$ $1/cart_checkout\.asp?$2 [I]
RewriteRule ^(.*)/cart_finish(.*)$ $1/cart_finish\.asp?$2 [I]
RewriteRule ^(.*)/u_cart(.*)$ $1/u_cart\.asp?$2 [I]
RewriteRule ^(.*)/u_address(.*)$ $1/u_address\.asp?$2 [I]
RewriteRule ^(.*)/add_address(.*)$ $1/add_address\.asp?$2 [I]
RewriteRule ^(.*)/u_pay_finish(.*)$ $1/u_pay_finish\.asp?$2 [I]
RewriteRule ^(.*)/u_payin(.*)$ $1/u_payin\.asp?$2 [I]
RewriteRule ^(.*)/u_payout(.*)$ $1/u_payout\.asp?$2 [I]
RewriteRule ^(.*)/kuaidipriceapi(.*)$ $1/api\.asp\?a=kuaidiprice&d=$2 [I]
RewriteRule ^(.*)/ShopCartRecListapi(.*)$ $1/api\.asp\?a=ShopCartRecList&d=$2 [I]
RewriteRule ^(.*)/deladdress(.*)$ $1/api\.asp\?a=deladdress&d=$2 [I]
RewriteRule ^(.*)/setDefaultaddress(.*)$ $1/api\.asp\?a=setDefaultaddress&d=$2 [I]
RewriteRule ^(.*)/cheackOrderDelapi(.*)$ $1/api\.asp\?a=cheackOrderDel&d=$2 [I]
RewriteRule ^(.*)/closeOrderapi(.*)$ $1/api\.asp\?a=closeOrder&d=$2 [I]
RewriteRule ^(.*)/u_qrcode(.*)$ $1/u_qrcode\.asp?$2 [I]
RewriteRule ^(.*)/VIP([0-9\-]*)$ $1/reg\.asp?a=$2 [I]
RewriteRule ^(.*)/WXPAY([0-9\-]*)U([0-9\-]*)J([0-9.\-]*)P([0-9\-]*)$ http://wx\.zgxnnj\.org/weixin/xnnj\.php?a=wxpay&pid=6&pkey=$5&jine=$4&uid=$3&xm=$2 [I]
RewriteRule ^(.*)/WXPAYW([0-9\-]*)U([0-9\-]*)J([0-9.\-]*)P([0-9\-]*)$ http://wx\.zgxnnj\.org/weixin/xnnj\.php?a=wxpay&pid=6&pkey=$5&jine=$4&uid=$3&xm=W$2 [I]
RewriteRule ^(.*)/cart_havepromotion(.*)$ $1/api\.asp\?a=cart_havepromotion&d=$2 [I]

#管理后台
RewriteRule ^(.*)/admin/HCheckpackageapi(.*)$ $1/admin/adminapi\.asp\?a=HCheckpackageapi&d=$2 [I]
RewriteRule ^(.*)/admin/editorderDetailapi(.*)$ $1/admin/adminapi\.asp\?a=editorderDetailapi&d=$2 [I]
RewriteRule ^(.*)/admin/adddelivelyapi(.*)$ $1/admin/adminapi\.asp\?a=adddelivelyapi&d=$2 [I]
RewriteRule ^(.*)/admin/packageinitalapi(.*)$ $1/admin/adminapi\.asp\?a=packageinitalapi&d=$2 [I]
RewriteRule ^(.*)/admin/packageeditapi(.*)$ $1/admin/adminapi\.asp\?a=packageeditapi&d=$2 [I]
RewriteRule ^(.*)/admin/delpackageapi(.*)$ $1/admin/adminapi\.asp\?a=delpackageapi&d=$2 [I]
RewriteRule ^(.*)/admin/packageaddapi(.*)$ $1/admin/adminapi\.asp\?a=packageaddapi&d=$2 [I]
RewriteRule ^(.*)/admin/memberaddapi(.*)$ $1/admin/adminapi\.asp\?a=memberaddapi&d=$2 [I]
RewriteRule ^(.*)/admin/membereditapi(.*)$ $1/admin/adminapi\.asp\?a=membereditapi&d=$2 [I]
RewriteRule ^(.*)/admin/adminaddapi(.*)$ $1/admin/adminapi\.asp\?a=adminaddapi&d=$2 [I]
RewriteRule ^(.*)/admin/addArticleapi(.*)$ $1/admin/adminapi\.asp\?a=addArticleapi&d=$2 [I]
RewriteRule ^(.*)/admin/addProductapi(.*)$ $1/admin/adminapi\.asp\?a=addProductapi&d=$2 [I]
RewriteRule ^(.*)/admin/addCategoryapi(.*)$ $1/admin/adminapi\.asp\?a=addCategoryapi&d=$2 [I]
RewriteRule ^(.*)/admin/delCategoryapi(.*)$ $1/admin/adminapi\.asp\?a=delCategoryapi&d=$2 [I]
RewriteRule ^(.*)/admin/addBrandapi(.*)$ $1/admin/adminapi\.asp\?a=addBrandapi&d=$2 [I]
RewriteRule ^(.*)/admin/delBrandapi(.*)$ $1/admin/adminapi\.asp\?a=delBrandapi&d=$2 [I]
RewriteRule ^(.*)/admin/addContentsapi(.*)$ $1/admin/adminapi\.asp\?a=addContentsapi&d=$2 [I]
RewriteRule ^(.*)/admin/editsysconfigapi(.*)$ $1/admin/adminapi\.asp\?a=editsysconfigapi&d=$2 [I]
RewriteRule ^(.*)/admin/addgroupapi(.*)$ $1/admin/adminapi\.asp\?a=addgroupapi&d=$2 [I]
RewriteRule ^(.*)/admin/addpositionapi(.*)$ $1/admin/adminapi\.asp\?a=addpositionapi&d=$2 [I]
RewriteRule ^(.*)/admin/addChannelapi(.*)$ $1/admin/adminapi\.asp\?a=addChannelapi&d=$2 [I]
RewriteRule ^(.*)/admin/wxPackageapi(.*)$ $1/admin/adminapi\.asp\?a=wxPackageapi&d=$2 [I]
RewriteRule ^(.*)/admin/packagejhapi(.*)$ $1/admin/adminapi\.asp\?a=packagejhapi&d=$2 [I]
RewriteRule ^(.*)/admin/deluserapi(.*)$ $1/admin/adminapi\.asp\?a=deluserapi&d=$2 [I]
RewriteRule ^(.*)/admin/deldelivelyapi(.*)$ $1/admin/adminapi\.asp\?a=deldelivelyapi&d=$2 [I]
RewriteRule ^(.*)/admin/delpropicapi(.*)$ $1/admin/adminapi\.asp\?a=delpropicapi&d=$2 [I]
RewriteRule ^(.*)/MultipleUpload(.*)$ $1/MultipleUpload\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/login(.*)$ $1/admin/login\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/logout(.*)$ $1/admin/login\.asp\?act=logout&d=$2 [I]
RewriteRule ^(.*)/admin/Order(.*)$ $1/admin/Order\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/Product(.*)$ $1/admin/Product\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/dingdan(.*)$ $1/admin/dingdan\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/Category(.*)$ $1/admin/Category\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/Brand(.*)$ $1/admin/Brand\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/sysconfig(.*)$ $1/admin/sysconfig\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/Internationnal(.*)$ $1/admin/Internationnal\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/Postway(.*)$ $1/admin/Postway\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/PostCompany(.*)$ $1/admin/PostCompany\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/Package(.*)$ $1/admin/Package\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/report(.*)$ $1/admin/report\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/diyreport(.*)$ $1/admin/diyreport\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/SystemPrice(.*)$ $1/admin/SystemPrice\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/User(.*)$ $1/admin/User\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/Group(.*)$ $1/admin/Group\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/Money(.*)$ $1/admin/Money\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/Position(.*)$ $1/admin/Position\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/Paylog(.*)$ $1/admin/Paylog\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/Article(.*)$ $1/admin/Article\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/Channel(.*)$ $1/admin/Channel\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/Contents(.*)$ $1/admin/Contents\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/Links(.*)$ $1/admin/Links\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/Advertising(.*)$ $1/admin/Advertising\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/AdminLog(.*)$ $1/admin/AdminLog\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/Manage(.*)$ $1/admin/Manage\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/center(.*)$ $1/admin/center\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/printorder([0-9]+)$ $1/admin/printorder\.asp\?id=$2 [I]
RewriteRule ^(.*)/admin/printsendorderairbox([0-9]+)$ $1/admin/printsendorderairbox\.asp\?id=$2 [I]
RewriteRule ^(.*)/admin/printordersendcomone([0-9]+)$ $1/admin/printordersendcomone\.asp\?id=$2 [I]
RewriteRule ^(.*)/admin/getstyledexi([0-9]+)$ $1/admin/getstyledexi\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/getstylecomone([0-9]+)$ $1/admin/getstylecomone\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/payout(.*)$ $1/admin/payout\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/jifen(.*)$ $1/admin/jifen\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/shouhuo(.*)$ $1/admin/shouhuo\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/Shenji(.*)$ $1/admin/shenji\.asp\?a=$2 [I]
RewriteRule ^(.*)/admin/AD(.*)$ $1/admin/AD\.asp\?a=$2 [I]